@import "../../variables.scss";

.container {
  width: 100%;
  margin-bottom: 25px;

  input {
    width: 100%;
    padding: 0px 5px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    border-radius: $border-rounding;

    &:focus {
      outline: none;
    }
  }
}
