@import "../../variables.scss";

.container {
  width: 100%;
  padding: 10px;

  @media screen and (min-width: $medium) {
    width: calc(100% / 2);
  }

  @media screen and (min-width: $large) {
    width: calc(100% / 3);
  }

  @media screen and (min-width: $extra-large) {
    width: calc(100% / 4);
  }

  .inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 100%;
    padding: 20px;
    border-radius: $border-rounding;
    border: $card-border;
    cursor: pointer;

    &:hover {
      border: $card-border-hover;
    }
  }

  h2 {
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: $font-bold;
    font-family: $font-title;
  }

  img {
    height: 200px;
    align-self: center;
  }

  p {
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 10px;
  }

  .description {
    flex: 1;

    p {
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      line-clamp: 4;
      -webkit-box-orient: vertical;
      font-weight: $font-light;
    }
  }
}
