@import "../../variables.scss";

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 5px;

  label {
    font-weight: $font-light;
    font-size: 14px;
  }

  input {
    margin: 0;

    &:focus {
      outline: none;
    }
  }
}
