@import "../../variables.scss";

.navbar {
  width: 250px;
  height: 100vh;
  padding: 30px 20px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: -3px 0 10px 0 #000;
  position: fixed;
  top: 0;
  left: 0;

  h1 {
    width: 100%;
    text-align: left;
    margin-bottom: 25px;
    color: $secondary-color;
    font-size: 45px;
    font-family: $font-title;
  }
}
