$border-rounding: 10px;

$primary-color: rgb(29, 150, 192);
$secondary-color: rgb(255, 255, 255);
$tertiary-color: rgb(000, 000, 000);

$card-border-hover: 2px solid $primary-color;
$card-border: 2px solid transparent;

$font-title: "Oleo Script Swash Caps", cursive;
$font-main: "Roboto", sans-serif;

$font-bold: 700;
$font-light: 300;
